@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

body,
html {
  margin: 0;
  padding: 0;
  font-family: "JetBrains Mono", monospace;
}

progress::-webkit-progress-bar {
  background-color: #fff7ed;
  border-radius: 100px;
  opacity: 90%;
}

progress::-webkit-progress-value {
  background-color: #4c1d95;
  border-radius: 100px;
}

svg path {
  stroke-linecap: round;
}
